<div class="row" ng-controller="ApplicationsController">
  <script>
    var advertisement_id = <%= @advertisement.id %>
  </script>
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <%= @advertisement.title %>
        <div class="pull-right">
          <span ng-show="not_seen_amount > 0">No vistas: <span class="badge not-seen">{{not_seen_amount}}</span></span>
          <span>Postulaciones totales: <span class="badge total">{{applications.length}}</span></span>
        </div>
      </div>
      <table class="table table-striped applications-admin-table">
        <thead>
          <tr>
            <th>Datos del postulante</th>
            <th>Fecha de postulación</th>
            <th>Email de contacto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="application in applications" ng-class="{'not-seen': !application.seen}">
            <td>
              <div class="name">{{application.fullname}}</div>
              <div class="studies">{{application.degree}} - {{application.university}}</div>
            </td>
            <td>
              {{application.created_at | date: 'dd/MM/yyyy - HH:mm'}}
            </td>
            <td>
              {{application.email}}
            </td>
            <td>
              <a href="{{application.resume}}" target="_blank" class="btn btn-primary btn-sm pull-left" title="Descargar CV" ng-click="markAsSeen(application)">
                <i class="glyphicon glyphicon-cloud-download"></i> <strong>CV</strong>
              </a>
              <div class="pull-right">
                <button ng-show="application.seen" class="btn btn-warning btn-sm" 
                  ng-click="markAsNotSeen(application)">
                  <i class="glyphicon glyphicon-eye-close"></i>
                </button>
                <button ng-hide="application.seen" class="btn btn-success btn-sm" 
                  ng-click="markAsSeen(application)">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr ng-show="!applications.length">
            <td colspan="4" class="text-center">No se han registrado postulaciones hasta el momento</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>