<h1>Mi Perfil</h1>

<h2>Nombre</h2>
<p><%= current_user.name %></p>
<h2>Email</h2>
<p><%= current_user.email %></p>
<h2>Universidad</h2>
<p><%= current_user.university.name %></p>
<h2>Carrera</h2>
<p><%= current_user.degree.name %></p>
