<div class="banner_wrapper"><!--banner-start-->
  <div class="banner">
      <div class="form_box fltright">
          <form action="#" method="get">
              <div>
                  <h2>ENCONTRÁ TU</h2>
                    <label>PASANTÍA IDEAL</label>
                    <div class="field_box pie">
                      <input type="text" name="q" value="Ej: Diseño |" class="form_field pie" onfocus="if(this.value==this.defaultValue)this.value='';" 
                        onblur="if(this.value=='')this.value=this.defaultValue;">
                        <span><img src="/img/search_icon.jpg" alt=""></span>
                        <div class="clear"></div>
                    </div>
                    <input name="search" class="form_button pie" value="Buscar" type="submit">
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <div class="caption">EL PRIMER SITIO LABORAL PENSADO POR Y PARA ESTUDIANTES</div>
        <div class="box">
          <div class="logobox fltleft">
              <a href="#"><img src="/img/banner_logo1.jpg" alt=""></a>
                <a href="#"><img src="/img/banner_logo2.jpg" alt=""></a>
                <a href="#"><img src="/img/banner_logo3.jpg" alt=""></a>
                <div class="clear"></div>
                <div class="arrow"></div>
            </div>
            <span>Empresas destacadas</span>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="content"><!--content-start-->
  <h1>Ventajas de Bualá</h1>
    <h2>Bualá es simple, está pensado para vos y es único.</h2>
    <div class="col1 pie fltleft">
      <img src="/img/pic1.jpg" alt="">
      <h3>Bualá es simple</h3>
        <p>¡Sabemos que tenes mil cosas para hacer! Regístrate y entérate de todos los puestos y postulate en pocos pasos.</p>
        <a href="#" class="col1_butt pie">Enterate</a>
    </div>
    
    <div class="col1 col2 pie fltleft">
      <img src="/img/pic2.jpg" alt="">
      <h3>Está pensado para vos</h3>
        <p>Conseguí tu primer trabajo en un único lugar, con un montón de ofertas para elegir.</p>
        <a href="#" class="col1_butt col2_butt pie">Conocelo</a>
    </div>
    
    <div class="col1 col3 pie fltleft">
      <img src="/img/pic3.jpg" alt="">
      <h3>Está pensado para vos</h3>
        <p>Conseguí tu primer trabajo en un único lugar, con un montón de ofertas para elegir.</p>
        <a href="#" class="col1_butt col3_butt pie">Probalo</a>
    </div>
    
    <div class="clear"></div>
</div><!--content-end-->

<div class="block_wrapper"><!--block-start-->
  <div class="block">
      <h2>Pasantías destacadas</h2>
        <span>Registrate en <a href="#">Bualá</a> y encontrá  las mejores pasantías.</span>
    </div>
</div><!--block-end-->

<div class="block2"><!--block2-start-->

  <% @top_ads.each do |ad| %>
    <% @advertisement = ad %>
    <%= render @advertisement %>  
  <% end %>  

  <h2>Tu proximo trabajo esta acá</h2>
  <a href="#" class="find pie">Encontralo</a>
</div><!--block2-start-->





<div class="block3_wrapper"><!--block3-start-->
  <div class="block3">
      <div class="employees fltleft">
          <div class="employees_left fltleft">
              <img src="/img/pic.png" alt="">
              <span>ingresar</span>
            </div>
            <strong>¿Sos Empleador?</strong>
            <div class="clear"></div>
        </div>
        
        <div class="employees institut fltleft">
          <div class="employees_left fltleft">
              <img class="padd" src="/img/pic2.png" alt="">
              <span>ingresar</span>
            </div>
            <strong>¿Sos una institución?</strong>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div><!--block3-end-->