<div class="row admin-advertisements" ng-controller="AdminCompanyController">
  <h1>
    <%= fa_icon 'th-large' %>
    Mis avisos
  </h1>
  <div class="advertisement-box" ng-repeat="advertisement in company.advertisements">
    <h2>{{advertisement.title}}</h2>
    <div class="left-column number-box col-md-3">
      <span class="number">{{advertisement.applications_amount}}</span>
      <span class="title" ng-show="advertisement.applications_amount != 1">
        Postulantes
      </span>
      <span class="title" ng-hide="advertisement.applications_amount != 1">
        Postulante
      </span>
      <advertisement-progress-bar advertisement="advertisement"></advertisement-progress-bar>
      <button class="btn-pink">Administrar</button>
    </div>
    <div class="performance col-md-9">
      <applicants-per-day-line-chart advertisement="advertisement"></applicants-per-day-line-chart>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
