<div class="row admin-advertisements" ng-controller="AdminCompanyController">
  <h1>
    <%= fa_icon 'th-large' %>
    Mis avisos
  </h1>
  <div class="advertisement-box" ng-repeat="advertisement in company.advertisements">
    <h2>{{advertisement.title}}</h2>
    <div class="applicants number-box col-md-2">
      <span class="number">{{advertisement.applications_amount}}</span>
      <span class="title" ng-show="advertisement.applications_amount != 1">
        Postulantes
      </span>
      <span class="title" ng-hide="advertisement.applications_amount != 1">
        Postulante
      </span>
    </div>
    <div class="performance col-md-10">
      <canvas class="chart"></canvas>
      <div class="bprogress">
        <span class="bar-progress" style="width: 85%;">22 días</span>
        <span class="bar-left" style="width: 15%;">8 días</span>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
