.advertisement-box {
  background: #fff;
  padding: 10px;
  color:#555;
  margin: 25px 0 30px 0;
  -webkit-border-radius: 10px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 10px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-family: 'titillium_webregular';
  border-top: 7px solid #27b5d3;
  -webkit-box-shadow: -2px 1px 12px rgba(0,0,0,.14);
  -moz-box-shadow: -2px 1px 12px rgba(0,0,0,.14);
  box-shadow: -2px 1px 12px rgba(0,0,0,.14);
}

.advertisement-box p {
  padding:7px 0;
}

.advertisement-box .company-logo {
  padding-left: 8px;
  text-align: center;
}

.advertisement-box .company-logo img {
  width:100%;
  max-width: 150px;
  height: auto;
}

.advertisement-box h1, .advertisement-box h1 a {
  font-family: 'titillium_websemibold';
  font-size: 24px;
  color:#27b5d3;
  margin:0;
}

.advertisement-box h2 {
  font-family: 'titillium_websemibold';
  font-size: 16px;
  color:#777;
  margin:0;
}

.advertisement-box .btn-container {
  line-height: 150px;
}

.advertisement-box .location {
  line-height:16px;
}

.advertisement-box .location i {
  color:#1abc9c;
  font-size:16px;
  padding: 0 3px;
}

.advertisement-box .show-adv-mobile {
  margin-top:15px;
}
