.advertisement-header {
  background: #fff;
  border-bottom: 2px solid #2cbed9;
  padding:25px 0;
}

.advertisement-header h1, .advertisement-header h2 {
  padding:0;
  margin:0;
}

.advertisement-header h1 {
  font-family: 'titillium_webbold';
  font-size:27px;
  line-height:27px;
  color:#424242;
}

.advertisement-header h2 {
  font-family: 'titillium_websemibold';
  font-size:24px;
  line-height:24px;
  padding-top:2px;
  color:#424242;
}

.advertisement-header .advertisement-title {
  padding-left:10px;
}

.map-container {
  padding:0;
  background:#f6f6f6;
}

.advertisement-info .categories {
  font-size: 18px;
  margin-top: 18px;
}

.advertisement-info h2 {
  color:#4b4b4b;
  font-family: 'titillium_websemibold';
  font-size:24px;
  margin:0;
  padding:20px 0 5px 0;
}

/* BADGES */

.advertisement-info .badges {
  margin-top:10px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

.badges li {
  float:left;
  margin:5px 10px 0 0;
  padding:3px;
  width: 90px;
  height: 90px;
  border:1px solid #5bc0de;
  border-bottom-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow:    0 1px 2px 1px #ccc;
  -webkit-box-shadow: 0 1px 2px 1px #ccc;
  box-shadow:         0 1px 2px 1px #ccc;
  color:#5bc0de;
  background: #edf9fd;
  cursor:pointer;
}

.badges li:hover {
  background: #e0f6fd;
  font-weight: bold;
}

.badges li i {
  line-height:50px;
}

.badges li.active {
  color:#27b5d3;
  border-color:#27b5d3; 
}

.badges li .badge-description {
  font-size:10px;
  line-height:10px;
}

.btn-buala.btn-apply-bottom {
  margin:25px 0;
}

.badge-tooltip {
  text-align: left;
  text-transform: none;
}

.safe-html {
  font-family: 'titillium_webregular';
  font-size: 16px;
  line-height: 20px;
}

.safe-html h1, .safe-html h2, .safe-html h3 {
  font-family: 'titillium_websemibold';
  margin:0;
  padding:0;
  color:#555;
}

.safe-html h1 {
  padding:5px 0 3px 0;
  font-size: 22px;
}

.safe-html h2 {
  padding:4px 0 2px 0;
  font-size: 20px;
}

.safe-html h3 {
  padding:3px 0 1px 0;
  font-size: 18px;
}

.safe-html ul, .safe-html ol {
  list-style: none;
  margin:0;
  padding:0;
}

.safe-html li {
  margin-left: 20px;
  padding: 2px 0;
}

.safe-html ul li {
  list-style-type: square;
}

.safe-html ol li {
  list-style-type: decimal;
}

.recommended {
  margin: 15px 0 0 0;
  padding:10px 5px 5px 5px;
  border-top:4px solid #27b5d3;
  -webkit-border-radius: 4px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 4px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.14);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.14);
  box-shadow: 0 1px 6px rgba(0,0,0,.14);
  background: #fff;
}

.recommended-wrapper {
  margin:1px 0 0 0;
  padding:0;
}

.recommended h1, .recommended h2 {
  font-family: 'titillium_websemibold';
  margin:0;
  padding:0;
}

.recommended h1 {
  font-size: 18px;
  color:#27b5d3;
}

.recommended h2 {
  font-size: 16px;
}

.recommended .col-lg-8, .recommended .col-md-8 {
  padding:0;
  margin:0;
}

.recommended .btn-buala {
  margin-top:10px;
  background:#d1e9f1;
  color:#0092c2;
}

.recommended .btn-buala:hover {
  background:#0092c2;
  color:#d1e9f1;
}
