.advertisement-header {
  background: #fff;
  border-bottom: 1px solid #2cbed9;
  padding:24px 0;
}

.advertisement-header h1, .advertisement-header h2 {
  padding:0;
  margin:0;
}

.advertisement-header h1 {
  font-family: 'titillium_webbold';
  font-size:27px;
  line-height:32px;
  color:#424242;
}

.advertisement-header h2 {
  font-family: 'titillium_websemibold';
  font-size:24px;
  line-height:25px;
  padding-top:2px;
  color:#424242;
}

.map-container {
  padding:0;
  background:#f6f6f6;
}

.advertisement-info .categories {
  font-size: 18px;
  margin-top: 18px;
}

.advertisement-info h2 {
  color:#4b4b4b;
  font-family: 'titillium_websemibold';
  font-size:24px;
  margin:0;
  padding:20px 0 5px 0;
}

/* BADGES */

.advertisement-info .badges {
  margin-top:10px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

.badges li {
  float:left;
  margin:5px 10px 0 0;
  padding:3px;
  width: 90px;
  height: 90px;
  border:1px solid #5bc0de;
  border-bottom-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow:    0 1px 2px 1px #ccc;
  -webkit-box-shadow: 0 1px 2px 1px #ccc;
  box-shadow:         0 1px 2px 1px #ccc;
  color:#5bc0de;
  background: #edf9fd;
  cursor:pointer;
}

.badges li:hover {
  background: #e0f6fd;
  font-weight: bold;
}

.badges li i {
  line-height:50px;
}

.badges li.active {
  color:#27b5d3;
  border-color:#27b5d3; 
}

.badges li .badge-description {
  font-size:10px;
  line-height:10px;
}

.btn-buala.btn-apply-bottom {
  margin:25px 0;
}

.badge-tooltip {
  text-align: left;
  text-transform: none;
}
