.banner {
  padding-top: 8px;
}
.bnrtop {
  width: 943px;
  min-height: 88px;
  background: #fff;
  padding: 18px 0 0;
  border-bottom: 1px solid #2cbed9;
}
.bnrtop h1 {
  font-family: 'titillium_webbold';
  font-size: 27px;
  color: #424242;
  line-height: 32px;
  font-weight: 400;
  width: 500px;
  float: left;
  margin: 0 0 0 10px;
}
.bnrtop img {
  float:left;
  padding-left: 10px;
  margin-top:5px;
}
.bnrtop h1 strong {
  display: block; 
  font-family: 'titillium_websemibold';
  font-size: 24px;
  color: #424242;
  line-height: 25px;
  padding-top: 5px;
}
.bnrtop h1 strong a {
  text-decoration: underline;
  font-family: 'titillium_websemibold';
  color: #3791bf;
}

a.header-apply {
  float:right;
  margin:11px 12px 0 0;
  position: relative;
}
a.bottom-apply {
  margin-top:20px;
  display: block;
}
.map {
  width: 943px;
  height: 300px;
  display: block;
  background: #fff;
}
.contentblock {
  clear: both;
  overflow: hidden; 
  padding: 0 0 42px 0;
}

#application-section {
    background: #fff;
    margin:0;
    padding:25px 150px 100px 35px;
}

#application-section li.boolean label[for="application_accept_terms_and_conditions"] {
  width:300px;
}

#thanks-section {
  background: #fff;
  font-size:22px;
  color:#555;
  text-align: center;
  padding: 35px 0;
  line-height: 40px;
}

#thanks-section .bualatips {
  padding-top: 25px;
  font-size:14px;
}

#thanks-section a {
  color: #3791bf;
  text-decoration: underline;
}