/*
 *= require reset
 *= require formtastic
 *= require gmaps4rails
 *= require_self
 *= require advertisements
 *= require advertisement_box
 *= require companies
 */
@charset "utf-8";
/* CSS Document */
/**************************************************************************************/
@font-face {
    font-family: 'titillium_webregular';
    src: url('../fonts/titilliumweb-regular-webfont.eot');
    src: url('../fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_websemibold';
    src: url('../fonts/titilliumweb-semibold-webfont.eot');
    src: url('../fonts/titilliumweb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-semibold-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_webbold';
    src: url('../fonts/titilliumweb-bold-webfont.eot');
    src: url('../fonts/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-bold-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-bold-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-bold-webfont.svg#titillium_webbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "twitter/bootstrap";
@import "font-awesome";

.navbar-buala {
  margin:0;
  border:0;
  border-bottom:8px solid #0093c3;
  background:#fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.navbar-buala .navbar-header {
  padding:10px;
}

.container {
  max-width: 950px;
}

.full-container {
  margin-left: auto;
  margin-right: auto;
}

.body-container {
  background: url(../images/blue-bg.jpg) repeat-x center top;
}

.footer-saw {
  height:13px;
  background: url(../images/footerbg.png) repeat-x left top;
}

.footer-container {
  padding: 20px 0 0 0;
  background:#244155;

  .contact {
    margin:10px 0;

    .contact-thumb {
      text-align: center;
      color:#1abc9c;

      h3 {
        color:inherit;
        margin:4px 0 4px 0;
      }

      .well {
        background: #1d2936;
        border-color: #1d2936;
      }

      .img {
        width: 15%;
        float: left;
        line-height: 80px;

        img {
          width:100%;
          height: auto;
        }
      }

      .info {
        float: left;
        width: 85%;

        a, a:hover, a:active {
          line-height: 30px;
          color:#37d0ec;
        }

        .wrapper {
          padding-left:5px;
        }
      }
    }
  }

  .social {
    text-align: center;
    padding:0 0 10px 0;
    font-size:40px;
    
    a {
      color:#1abc9c;
      text-decoration: none;
      
      &:hover, &:active {
        color:#fff;
        text-decoration: none;
      }
    }
  }
}

.copyright-container {
  background: #1d2936;
  text-align: center;
  line-height: 100px;
  color:#fff;
}

.btn-buala {
  font-family: 'titillium_webbold';
}

.btn-buala-no-font, .btn-buala {
  background: #1cb095;
  border:#1cb095;
}

.btn-buala:hover, .btn-buala:active, .btn-buala-no-font:hover, .btn-buala-no-font:active {
  background: #0d826d;
}

.full-width {
  width: 100%;
}

.buala-icon {
  color:#1abc9c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'titillium_websemibold';
  color: #27b5d3;
}
