/*
 *= require reset
 *= require formtastic
 *= require gmaps4rails
 *= require_self
 *= require home
 *= require advertisements
 *= require advertisement_box
 *= require companies
 *= require auth
 */
@charset "utf-8";
/* CSS Document */
/**************************************************************************************/
@font-face {
    font-family: 'titillium_webregular';
    src: url('../fonts/titilliumweb-regular-webfont.eot');
    src: url('../fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_websemibold';
    src: url('../fonts/titilliumweb-semibold-webfont.eot');
    src: url('../fonts/titilliumweb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-semibold-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_webbold';
    src: url('../fonts/titilliumweb-bold-webfont.eot');
    src: url('../fonts/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-bold-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-bold-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-bold-webfont.svg#titillium_webbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "twitter/bootstrap";
@import "font-awesome";

.navbar-buala {
  margin:0;
  border:0;
  border-bottom:3px solid #0093c3;
  background:#fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 8px rgba(100, 100, 100, 0.3);
  -moz-box-shadow:    0px 1px 8px rgba(100, 100, 100, 0.3);
  box-shadow:         0px 1px 8px rgba(100, 100, 100, 0.3);

  .navbar-header {
    padding: 15px 0 17px 10px;
  }

  .navbar-nav {

    li {
      a {
        line-height: 42px;
      
        &:hover {
          background: #ECF8FF;
        }
      }
    }

    .open {
      a {
        &:focus {
          background: #ECF8FF;
        }
      }
    }

  }

  .navbar-text {
    line-height: 39px;
  }

  &.stick {
    .navbar-header {
      padding: 5px 0 8px 0;
    }
  }

}

.container {
  max-width: 950px;
}

.full-container {
  margin-left: auto;
  margin-right: auto;
}

.top-body {
  background:#2dbed9;
  border-bottom:3px solid #0093c3;
}

.footer-container {
  padding: 20px 0 0 0;
  background:#244155;
  border-top:3px solid #1d2936;

  .contact {
    margin:10px 0;

    .contact-thumb {
      text-align: center;
      color:#1abc9c;

      h3 {
        color:inherit;
        margin:4px 0 4px 0;
      }

      .well {
        background: #1d2936;
        border-color: #1d2936;
      }

      .img {
        width: 15%;
        float: left;
        line-height: 80px;

        img {
          width:100%;
          height: auto;
        }
      }

      .info {
        float: left;
        width: 85%;

        a, a:hover, a:active {
          line-height: 30px;
          color:#37d0ec;
        }

        .wrapper {
          padding-left:5px;
        }
      }
    }
  }

  .social {
    text-align: center;
    padding:0 0 10px 0;
    font-size:40px;
    
    a {
      color:#1abc9c;
      text-decoration: none;
      
      &:hover, &:active {
        color:#fff;
        text-decoration: none;
      }
    }
  }
}

.copyright-container {
  background: #1d2936;
  text-align: center;
  line-height: 100px;
  color:#fff;
}

.btn-buala {
  font-family: 'titillium_webbold';

  .btn-recommendation {
    font-family: 'titillium_webregular';
    font-size: 12px;
  }
}

.btn-buala-no-font, .btn-buala {
  background: #1cb095;
  border:#1cb095;
  color:#fff;

  &:hover, &:active {
    background: #0d826d;
  }

}

.full-width {
  width: 100%;
}

.buala-icon {
  color:#1abc9c;
}

.btn-pink {
  display: inline-block;
  background:#fa70b8;
  padding:8px 22px;
  border: 0px;
  border-bottom: 5px solid #f011e7;
  color:#fff;
  font-family: 'titillium_websemibold';
  font-size:28px;
  -webkit-box-shadow: 0px 0px 5px rgba(120, 120, 120, 0.5);
  -moz-box-shadow:    0px 0px 5px rgba(120, 120, 120, 0.5);
  box-shadow:         0px 0px 5px rgba(120, 120, 120, 0.5);
  cursor: pointer;

  transition: background 0.2s linear, border-color 0.2s linear;
  -webkit-transition: background 0.2s linear, border-color 0.2s linear;
  -moz-transition: background 0.2s linear, border-color 0.2s linear;
  -o-transition: background 0.2s linear, border-color 0.2s linear;

  &:hover, &:active {
    text-decoration: none;
    background: #F32892;
    color:#fff;
    border-bottom: 5px solid #FF57AF;
  }

  .btn-recommendation {
    font-size:12px;
    font-family: 'titillium_webregular';
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'titillium_webregular';
  color: #27b5d3;
}

.btn-orange {
  background: #ffac29;
  line-height: 40px;
  padding:0 20px;
  display: inline-block;
  color:#fff;
  border:0px;
  border-bottom: 3px solid #ee8f00;
  font-family: 'titillium_webregular';
  font-size: 16px;
  
  transition: background 0.2s linear, border-color 0.2s linear;
  -webkit-transition: background 0.2s linear, border-color 0.2s linear;
  -moz-transition: background 0.2s linear, border-color 0.2s linear;
  -o-transition: background 0.2s linear, border-color 0.2s linear;

  &:hover, &:active, &:focus {
    text-decoration: none;
    background: #ff9003;
    border-bottom: 3px solid #ffd589;
    color:#fff;
  }
}

.auth-btns {
  font-family: "titillium_webregular";

  a {
    font-size: 16px;
    color: #2FA8CF !important;
  }

  .auth-link-wrapper a {
    text-transform: uppercase;
  }

  i {
    font-size: 18px;
  }

}
