.admin-panel {
  .admin-advertisements {
    h1 {
      color: #fff;
      margin:0;
      padding: 20px 0 20px 0;
    }

    .advertisement-box {
      @include buala-well-with(10px, 35px);

      h2 {
        margin:0;
        padding:2px 0 10px 0;
        @include buala-semibold-font;
        font-size: 25px;
      }

      .left-column {
        height:120px;
        
        &.number-box {
          text-align: center;
          padding: 10px 0px;

          .number {
            color: $orange;
            font-size: 75px;
            line-height: 75px;
          }

          .title {
            text-transform: uppercase;
            color: $orange;
            display: block;
          }
        }

        .progress {
          margin: 14px 0;
        }

        .btn-pink {
          width: 100%;
          font-size:20px;
          height: 48px;
          @include buala-regular-font;
        }

      }
      
      .performance {
        height: 200px;
        color: $lightblue;
        font-size: 12px;
        text-transform: uppercase;
        padding:0;
        
        .bprogress, .chart {
          margin:0;
          padding:0;
        }

        .chart {
          height: 200px;
          width: 100%;
        }
      }
    }
  }
}