$lightblue: #2dbed9;
$darkblue: darken($lightblue, 8%);
$superlightblue: lighten($lightblue, 40%);
$supersuperlightblue: lighten($superlightblue, 5%);

$green: #3be376;
$darkgreen: darken($green, 8%);

$orange: #ffac29;
$darkorange: darken($orange, 10%);

$purple: #244155;
$darkpurple: darken($purple, 10%);
$lightpurple: lighten($purple, 15%);

$pink: #fa70b8;
$darkpink: darken($pink, 10%);

$mediumgray: #555;
$gray: lighten($mediumgray, 10%);
$lightgray: #fcfcfc;

$white: #fff;
$black: #000;