@mixin btn-buala($backgroundColor) {
  display: inline-block;
  background:$backgroundColor;
  padding:8px 22px;
  border: 0px;
  border-bottom: 5px solid darken($backgroundColor, 10%);
  color:$white;
  font-size:28px;
  cursor: pointer;
  @include buala-semibold-font;
  @include box-shadow (0px 0px 5px rgba(120, 120, 120, 0.5));
  @include transition (background 0.2s linear, border-color 0.2s linear);

  &.btn-small {
    font-size: 15px;
    line-height: 20px;
  }

  &.btn-normal {
    font-size: 18px;
    line-height: 24px;
    padding: 8px 18px;
  }

  &.btn-normal-font {
    @include buala-regular-font;
  }

  &.btn-full-width {
    width: 100%;
  }

  &:hover, &:active {
    text-decoration: none;
    background: darken($backgroundColor, 10%);
    color:$white;
    border-bottom: 5px solid $backgroundColor;
  }
}

.btn-buala {
  @include buala-bold-font;

  .btn-recommendation {
    @include buala-regular-font;
    font-size: 12px;
  }
}

.btn-buala-no-font, .btn-buala {
  background: #1cb095;
  border:#1cb095;
  color:$white;

  &:hover, &:active {
    background: #0d826d;
  }
}

.buala-icon {
  color:#1abc9c;
}

.btn-pink {
  @include btn-buala($pink);

  .btn-recommendation {
    font-size:12px;
    @include buala-regular-font;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include buala-regular-font;
  color: #27b5d3;
}

.btn-orange {
  @include btn-buala($orange);
}

.btn-lightblue {
  @include btn-buala($lightblue);
}

.btn-lightred {
  @include btn-buala($lightred);
}

.auth-btns {
  font-family: "titillium_webregular";

  a {
    font-size: 16px;
    color: #2FA8CF !important;
  }

  .auth-link-wrapper a {
  }

  i {
    font-size: 18px;
  }
}

.btn-file {
    position: relative;
    overflow: hidden;
    color: $white;
    background: #39b3d7;
    border-bottom: 4px solid #269abc;
    border-radius: 0;
    cursor: pointer;
    @include transition (background 0.2s linear, border-color 0.2s linear);

    &:hover {
      background: #269abc;
      border-bottom: 4px solid #39b3d7;
      color: $white;
    }
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
