.admin-panel {
  .admin-advertisements {
    .header {
      padding: 20px 0 20px 0;

      h1 {
        color: #fff;
        margin:0;
        padding: 5px 0;
      }
    }

    .advertisement-box {
      @include buala-well-with(10px, 35px);

      h2 {
        margin:0;
        padding:2px 0 10px 0;
        @include buala-semibold-font;
        font-size: 25px;
      }

      .left-column {
        height:120px;
        
        &.number-box {
          text-align: center;
          padding: 10px 0px;

          .number {
            color: $orange;
            font-size: 75px;
            line-height: 75px;
          }

          .title {
            text-transform: uppercase;
            color: $orange;
            display: block;
          }
        }

        .progress {
          margin: 14px 0;
        }

        .btn-pink {
          width: 100%;
          font-size:20px;
          height: 48px;
          @include buala-regular-font;
        }

      }
      
      .performance {
        height: 200px;
        color: $lightblue;
        font-size: 12px;
        text-transform: uppercase;
        padding:0;
        
        .bprogress, .chart {
          margin:0;
          padding:0;
        }

        .chart {
          height: 200px;
          width: 100%;
        }
      }
    }
  }

  .modal.new-advertisement-modal {
    .modal-dialog {
      width: 880px;
    }

    .modal-header {
      text-align: center;
    }

    ol.steps {
      counter-reset:li;
      margin-left: 0;
      padding: 10px 0;

      li {
        list-style: none;
        float: left;
        width: 33%;
        text-align: center;
        font-weight: bold;
        color: $lightgray;

        &:before {
          content: counter(li);
          counter-increment:li;
          background: $lightgray;
          width: 25px;
          height: 25px;
          line-height: 25px;
          font-size:14px;
          font-weight: bold;
          display: inline-block;
          text-align: center;
          color: $white;
          margin-right: 4px;
          @include border-radius(13px);
        }

        &.current {
          color: $mediumgray;

          &:before {
            background: $lightblue;
          }

        }
      }
    }

  }

}