.signup-banner {
  color:#fff;
  height:388px;

  h1 {
    font-family: 'titillium_webregular';
    color:#fff;
  }

  .totally-free {
    font-family: 'titillium_webregular';
    font-size: 12px;
  }

  .btn-buala {
    font-size: 28px;
  }

}

.service-explanation {

  height: 160px;

  h2 {
    color:#fff;
    font-size:22px;
    text-align: center;
  }

  .dashed-line {
    border-top:1px dashed #fff;
    width:600px;
    z-index:10;
    top:100px;
    margin:0 auto;
  }

  .animation-img {
    position: absolute;
    z-index: 20;

    &.resume {
      top: 15px;
      left: 110px;
    }

    &.computer {
      top: 40px;
      left: 75px;
    }

    &.lens {
      top:80px;
      left:180px;
    }

    &.graphs {
      top:30px;
      left:55px;
    }

    &.suitcase {
      top:30px;
      left:90px;
    }

    &.check {
      top:10px;
      left:160px;
    }

  }

  .mini-resumes {

    background: #000;
    width:600px;
    margin: 72px auto;
    text-align: left;

    .mini-resume {
      z-index: 10;
      display: inline;
      position:absolute;

      &.move {
        margin-left: 300px;
      }

    }

  }

}

.service-explanation-text {

  h2 {
    color: #fff;
    font-size: 22px;
    text-align: center;
  }

}
