// Move to left animation
@-webkit-keyframes move-to-left {
  from   { margin-left: 0; }
  to { margin-left: 100%; }
}
@-moz-keyframes move-to-left {
  from   { margin-left: 0; }
  to { margin-left: 100%; }
}
@-o-keyframes move-to-left {
  from   { margin-left: 0; }
  to { margin-left: 100%; }
}
@keyframes move-to-left {
  from   { margin-left: 0; }
  to { margin-left: 100%; }
}

// Move to right animation
@-webkit-keyframes move-to-right {
  from   { margin-left: 100%; }
  to { margin-left: 0%; }
}
@-moz-keyframes move-to-right {
  from   { margin-left: 100%; }
  to { margin-left: 0%; }
}
@-o-keyframes move-to-right {
  from   { margin-left: 100%; }
  to { margin-left: 0%; }
}
@keyframes move-to-right {
  from   { margin-left: 100%; }
  to { margin-left: 0%; }
}



.signup-banner {
  color:#fff;
  height:388px;

  h1 {
    font-family: 'titillium_webregular';
    color:#fff;
  }

  .btn-buala {
    font-size: 28px;
  }

}

.service-explanation {

  height: 160px;

  h2 {
    color:#fff;
    font-size:22px;
    text-align: center;
  }

  .dashed-line {
    border-top:1px dashed #fff;
    width:600px;
    z-index:10;
    top:100px;
    margin:0 auto;
  }

  .animation-img {
    position: absolute;
    z-index: 20;

    &.resume {
      top: 15px;
      left: 110px;
    }

    &.computer {
      top: 40px;
      left: 75px;
    }

    &.lens {
      top:80px;
      left:180px;
    }

    &.graphs {
      top:30px;
      left:55px;
    }

    &.suitcase {
      top:30px;
      left:90px;
    }

    &.check {
      top:10px;
      left:160px;
      width:70px;
    }

  }

  .mini-resumes, .mini-suitcases {
    margin-top:70px;

    .mini-resume, .mini-suitcase {
      z-index: 10;
      position:absolute;
      
      &.move-1 {
        animation-delay: 0s;
        -webkit-animation-delay:0s;      
      }

      &.move-2 {
        animation-delay: 0.5s;
        -webkit-animation-delay:0.5s;
      }

      &.move-3 {
        animation-delay: 1s;
        -webkit-animation-delay:1s;
      }
    }

    .mini-resume {
      -webkit-animation: move-to-left 1.5s infinite;
      -moz-animation:    move-to-left 1.5s infinite;
      -o-animation:      move-to-left 1.5s infinite;
      animation:         move-to-left 1.5s infinite;
    }

    .mini-suitcase {
      -webkit-animation: move-to-right 1.5s infinite;
      -moz-animation:    move-to-right 1.5s infinite;
      -o-animation:      move-to-right 1.5s infinite;
      animation:         move-to-right 1.5s infinite;
    }

  }

}

.service-explanation-text {

  h2 {
    color: #fff;
    font-size: 22px;
    text-align: center;
  }

}
